.container-prime {
  display: flex;
}
.container {
  padding: 10px;
}

img {
  float: left;
  width: 200px;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.paragraph {
  background-color: burlywood;
}
.first-paragraph {
  background-color: burlywood;
}

/* a {
  float: left;
  background-color: aqua;
  width: 200px;
  margin-right: 1rem;
} */
